.abc {
    display: flex;
    flex-direction: column;
}

#light #HomeMaindiv {
    font-weight: '500' !important;
    font-size: 'large' !important;
    display: 'grid' !important;
    grid-template-columns: '1fr 1fr' !important;
    padding: '30px' !important;
    gap: '40px' !important;
}

.mercerLogo {
    height: '40vh';
    margin: '0px';
    padding-top: '0px';
    width: '100vh';
    opacity: '0.5';
}

.LocationAndTime {
    grid-area: 'footer';
    display: 'flex';
    margin-top: '50px';
    margin-left: '200px';
    align-self: 'end';
    gap: '70px';
    color: 'white';
    position: 'relative';
}