.cm-products{
    display: gird;
    grid-template-columns: auto;
}

.new-product{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
    border: 1px;
    color: #fff !important;
    background-color: #003865;
    padding: 8px 8px;
    margin-left: 60px;
    font-size: large;
    width: 120px;
}
.cm-add-product{
    border-radius: 4px;
    cursor: pointer;
    border: 1px;
    color: #fff !important;
    background-color: #003865;
    padding: 8px 8px;
    margin-left: 60px;
    font-size: large;
}

/* .cm-modify{
    height: 10vh !important;
} */

.products-dashboard{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    justify-items: center;
    margin: 1.5rem;  */

    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next row */
    gap: 1rem; /* Adds spacing between items */
    justify-content: center; /* Center-align items in the row */
    margin: 0.5rem;
    padding-bottom: 90px;
    
}
 
.cm-products-footer{
    --bs-blue-gray-100 : #d1deea;
    position: fixed;
    height:55px;
    bottom: 0; 
    padding-bottom: 15px;
    padding-top: 10px;  
    border-top: 1px solid;
    border-color:var(--bs-blue-gray-100);
    background-color:#fff ;
    width: 100%;
}

.cm-products-footer .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: white;
    background-color: #003865;
}