body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Noto Sans, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

}
@media only screen and (max-width: 1250px){
  body > #root > div {
    height: 100vh;
  }
}
body > #root > div {
  height: 100vh;

}
@media only screen and (max-width: 900px){
  body > #root > div {
    height: 200vh;
    max-width: 100%;
  overflow-x: hidden;
  
  }
}
:root{
  --body_background : linear-gradient(45deg, #009de0 30%, #8246af 90%); 
  --body_background_color : linear-gradient(45deg, #009de0 30%, #8246af 90%);

}

[data-theme="light"]{
  --body_background :#282c34;
  --body_background_color :white;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Forms{
  display: "flex";
   align-items: "center";
   height: "100%"  
}

forms{
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; 
}


