body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Noto Sans, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;

}
@media only screen and (max-width: 1250px){
  body > #root > div {
    height: 100vh;
  }
}
body > #root > div {
  height: 100vh;

}
@media only screen and (max-width: 900px){
  body > #root > div {
    height: 200vh;
    max-width: 100%;
  overflow-x: hidden;
  
  }
}
:root{
  --body_background : linear-gradient(45deg, #009de0 30%, #8246af 90%); 
  --body_background_color : linear-gradient(45deg, #009de0 30%, #8246af 90%);

}

[data-theme="light"]{
  --body_background :#282c34;
  --body_background_color :white;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Forms{
  display: "flex";
   align-items: "center";
   height: "100%"  
}

forms{
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; 
}
:root{
--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #002c77;
    --bs-gray-50: #f4f4f4;
    --bs-blue-gray-50: #f8fafc;
    --bs-blue-gray-100: #e5edf4;
    --bs-blue-gray-300: #bed3e4;
    --bs-blue-gray-400: #a2b7cd;
    --bs-blue-gray-500: #8096b2;
    --bs-blue-gray-700: #4e6287;
    --bs-blue-500: #009de0;
    --bs-blue-700: #002c77;
    --bs-blue-800: #001f52;
    --bs-gray-100: #ebebeb;
    --bs-gray-300: #d0d5dd;
    --bs-gray-400: #98a2b3;
    --bs-gray-500: #4e6287;
    --bs-gray-700: #001f52;
    --bs-info-yellow: #ffecb3;
    --bs-action-blue: #0b41ad;
    --bs-action-blue-2: #0e53dd;
    --bs-blue: #009de0;
    --bs-purple: #8246af;
    --bs-success: #14853d;
    --bs-danger: #c53532;
    --bs-action-1: #2c6ef2;
    --bs-orange: #e67300;
    --bs-primary-rgb: 0, 44, 119;
    --bs-gray-50-rgb: 244, 244, 244;
    --bs-blue-gray-50-rgb: 248, 250, 252;
    --bs-blue-gray-100-rgb: 229, 237, 244;
    --bs-blue-gray-300-rgb: 190, 211, 228;
    --bs-blue-gray-400-rgb: 162, 183, 205;
    --bs-blue-gray-500-rgb: 128, 150, 178;
    --bs-blue-gray-700-rgb: 78, 98, 135;
    --bs-blue-500-rgb: 0, 157, 224;
    --bs-blue-700-rgb: 0, 44, 119;
    --bs-blue-800-rgb: 0, 31, 82;
    --bs-gray-100-rgb: 235, 235, 235;
    --bs-gray-300-rgb: 208, 213, 221;
    --bs-gray-400-rgb: 152, 162, 179;
    --bs-gray-500-rgb: 78, 98, 135;
    --bs-gray-700-rgb: 0, 31, 82;
    --bs-info-yellow-rgb: 255, 236, 179;
    --bs-action-blue-rgb: 11, 65, 173;
    --bs-action-blue-2-rgb: 14, 83, 221;
    --bs-blue-rgb: 0, 157, 224;
    --bs-purple-rgb: 130, 70, 175;
    --bs-success-rgb: 20, 133, 61;
    --bs-danger-rgb: 197, 53, 50;
    --bs-action-1-rgb: 44, 110, 242;
    --bs-orange-rgb: 230, 115, 0;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,#ffffff26,#fff0);
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

